* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
section > .container {
  width: 1170px;
  margin: auto;
  display: block;

  padding: 30px 80px;
}

.bg-grey {
  background: #f7f7f7;
}
/* banner */
.banner {
  position: relative;

  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./banner.jpg);
  background-size: cover;
  height: 400px;
}
.information-banner {
  text-align: center;
  position: absolute;
  /*kính thước phần tử mẹ */
  bottom: 50%;
  left: 50%;
  /* kích thước phân tử con */
  transform: translate(-50%, 0%);
  color: #f7f7f7;
  line-height: 1.5;
}
/* section nav bar */
#nav-bar .container-nav-bar {
  width: 1170px;
  margin: auto;
  display: block;
  text-align: center;
}
/* .container-nav-bar {
  position: relative;
} */

.avarta img {
  position: absolute;
  width: 150px;
  border: 5px solid white;
  border-radius: 50%;
  left: 600px;
  top: 350px;
}
.information,
.item-icon,
.certificate,
.project {
  padding: 15px 30px;
}
.nar-container {
  display: inline-block;
  height: 50px;

  text-transform: uppercase;

  border-left: 1px solid rgb(211, 209, 209);
}
.nar-container a {
  text-decoration: none;
  color: black;
}
.nar-container i {
  color: #199cdb;
}
.body-item {
  display: flex;
}
#name-item {
  padding: 0 70px;
  text-transform: none;
  line-height: 1.5;
}
/* section about */
.body-title {
  display: grid;
  grid-template-columns: 50% 50%;
}
#target {
  background-color: #f7f7f7;
  padding-left: 50px;
  padding-top: 50px;
}
#personal-info {
  background-color: rgba(238, 235, 235, 0.952);
  padding: 50px 0;
  line-height: 1.5;
}
.body-title p {
  width: 450px;
  line-height: 1.5;
  color: grey;
  font-size: 14px;
}
.body-title h1 {
  padding-bottom: 20px;
}
#personal-info {
  padding-left: 50px;
}
.body-title strong {
  color: black;
}
/*section job-info */
.job-info {
  width: 1010px;

  display: grid;
  grid-template-columns: 320px 320px 320px;
  justify-content: center;
  align-content: center;
  align-items: start;
  gap: 15px;
}
.col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.job-info .item-box {
  padding-bottom: 20px;

  display: grid;
  grid-template-columns: 75% 25%;
}
.job-info .item-box i {
  font-size: 40px;
}
.job-info .job-info-boder {
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid rgb(211, 209, 209);

  display: grid;
  grid-template-rows: 100px auto;
  padding-bottom: 20px;
}
.job-info-row .job {
  line-height: 1.5;
}
.job .time-item {
  padding: 0 5px 0 5px;
  color: #f7f7f7;
  background-color: #199cdb;
  border-radius: 10%;
}
.job .work {
  padding-bottom: 20px;
}
.job .work-item {
  margin-left: 20px;
  position: relative;
}
.work-item::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  margin-left: -15px;
  background-color: #199cdb;
  top: 10px;
  border-radius: 50%;
  z-index: 1;
}
/* column so thich */
.item-so-thich {
  color: #199cdb;
  border: 1px solid #199cdb;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding-left: 15px;
  /* justify-items: center; */
}
.body-information-item {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.hr-item-so-thich {
  display: grid;
  grid-template-rows: auto auto;

  justify-items: center;
}
/* column nn vs ky nang */
.ngon-ngu-item {
  background: #199cdb;
  display: inline-block;
  height: 2px;
  margin-right: 10px;
  width: 45px;
}
.ngon-ngu-item-gray {
  background: #3f4041;
  display: inline-block;
  height: 2px;
  margin-right: 10px;
  width: 45px;
}
/* section chung chi va gia thuong */
.certificate-information {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 150px);
}
.certificate-information img {
  width: 200px;
}
.body-information {
  position: relative;
  padding-bottom: 30px;
  border-bottom: 1px solid #d6c08d;
  display: flex;
}
.information-chung-chi {
  padding-left: 30px;
  line-height: 1.5;
}
.information-chung-chi h3 {
  margin-bottom: 10px;
}
.body-information:last-child {
  border-bottom: none;
  margin-top: 50px;
}
.num-1::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 120px;
  margin-left: -20px;
  background-color: #d6c08d;
  top: 0;
  z-index: 1;
}
/* section du an */
.project-information {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
}
.project-information img {
  width: 100%;
  height: 200px;
}
.item-project-information {
  display: flex;
  gap: 10px;

  align-items: center;
}
.time-project-information {
  padding: 10px 15px 10px 15px;
  background-color: #199cdb;
  border-radius: 30%;
}
.head-project-information {
  text-transform: uppercase;
  font-size: 18px;
}
.item-project-information,
.head-project-information {
  padding: 5px 10px 5px 10px;
  border: 1px solid rgb(211, 209, 209);
}
.project-information table {
  border: 1px solid rgb(211, 209, 209);
  border-collapse: collapse;
}
.project-information td {
  padding: 10px;

  border-bottom: 1px solid rgb(211, 209, 209);
  text-align: start;
}
.footer-item {
  color: grey;

  display: inline-block;
  gap: 20px;

  font-size: 25px;
}
.footer-item i {
  color: #199cdb;
}
.ft-center {
  transform: translateX(30%);
}
